# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.o.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.apk

# Android
*.iml
*.gradle
/gradle.properties
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
Android.mk
/.idea/*
/gradle/wrapper*
gradlew
gradlew.bat
app/build
openCVLibrary310
import-summary.txt
camera_view.xml
/api_info.txt

# msvc
build2015*
CMakeUser.cmake
testimg.jpg
/testimg-syn.jpg
/testimg-syn-g.jpg
/testimg-syn-g-r.jpg
/testimg-orig.jpg
/testimg-g.jpg
/test.png
/result.tif
bin/
img/
/app/src/main/java/at/ac/tuwien/caa/docscan/camera/MediaSaver.java
/app/src/main/java/at/ac/tuwien/caa/docscan/camera/Storage.java
/projectFilesBackup/.idea/workspace.xml
/app/src/main/java/at/ac/tuwien/caa/docscan/camera/Util.java
/app/src/main/res/drawable/ic_photo_album_black_24dp.xml
/app/src/main/res/layout/test_activity.xml
/app/src/main/res/drawable/cat.png
/app/src/main/res/drawable/puppy.png
/openCVLibrary/build/generated/mockable-android-14.v3.jar
/openCVLibrary/build/generated/mockable-android-27.v3.jar
/openCVLibrary/build/generated/source/aidl/debug/org/opencv/engine/OpenCVEngineInterface.java
/openCVLibrary/build/generated/source/buildConfig/androidTest/debug/org/opencv/test/BuildConfig.java
/openCVLibrary/build/generated/source/buildConfig/debug/org/opencv/BuildConfig.java
/openCVLibrary/build/generated/source/r/androidTest/debug/org/opencv/R.java
/openCVLibrary/build/generated/source/r/androidTest/debug/org/opencv/test/R.java
/openCVLibrary/build/generated/source/r/debug/org/opencv/R.java
/openCVLibrary/build/intermediates/attr/R.txt
/openCVLibrary/build/intermediates/blame/res/androidTest/debug/multi-v2/debug.json
/openCVLibrary/build/intermediates/blame/res/androidTest/debug/multi-v2/values.json
/openCVLibrary/build/intermediates/bundles/debug/R.txt
/openCVLibrary/build/intermediates/bundles/debug/res/values/values.xml
/openCVLibrary/build/intermediates/classes/debug/org/opencv/BuildConfig.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/R$attr.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/R$id.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/R$styleable.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/R.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/AsyncServiceHelper$1.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/AsyncServiceHelper$2.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/AsyncServiceHelper$3$1.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/AsyncServiceHelper$3$2.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/AsyncServiceHelper$3.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/AsyncServiceHelper.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/BaseLoaderCallback$1.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/BaseLoaderCallback$2.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/BaseLoaderCallback$3.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/BaseLoaderCallback$4.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/BaseLoaderCallback$5.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/BaseLoaderCallback$6.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/BaseLoaderCallback$7.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/BaseLoaderCallback.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/Camera2Renderer$1.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/Camera2Renderer$2.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/Camera2Renderer.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/CameraBridgeViewBase$1.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/CameraBridgeViewBase$CvCameraViewFrame.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/CameraBridgeViewBase$CvCameraViewListener.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/CameraBridgeViewBase$CvCameraViewListener2.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/CameraBridgeViewBase$CvCameraViewListenerAdapter.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/CameraBridgeViewBase$ListItemAccessor.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/CameraBridgeViewBase.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/CameraGLRendererBase.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/CameraGLSurfaceView$CameraTextureListener.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/CameraGLSurfaceView.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/CameraRenderer.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/FpsMeter.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/InstallCallbackInterface.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/JavaCameraView$1.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/JavaCameraView$CameraWorker.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/JavaCameraView$JavaCameraFrame.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/JavaCameraView$JavaCameraSizeAccessor.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/JavaCameraView.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/LoaderCallbackInterface.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/OpenCVLoader.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/StaticHelper.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/android/Utils.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/calib3d/Calib3d.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/calib3d/StereoBM.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/calib3d/StereoMatcher.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/calib3d/StereoSGBM.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/Algorithm.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/Core$MinMaxLocResult.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/Core.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/CvException.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/CvType.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/DMatch.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/KeyPoint.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/Mat.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/MatOfByte.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/MatOfDMatch.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/MatOfDouble.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/MatOfFloat.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/MatOfFloat4.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/MatOfFloat6.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/MatOfInt.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/MatOfInt4.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/MatOfKeyPoint.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/MatOfPoint.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/MatOfPoint2f.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/MatOfPoint3.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/MatOfPoint3f.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/MatOfRect.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/MatOfRect2d.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/Point.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/Point3.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/Range.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/Rect.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/Rect2d.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/RotatedRect.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/Scalar.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/Size.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/TermCriteria.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/core/TickMeter.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/dnn/DictValue.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/dnn/Dnn.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/dnn/Layer.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/dnn/Net.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/engine/OpenCVEngineInterface$Stub$Proxy.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/engine/OpenCVEngineInterface$Stub.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/engine/OpenCVEngineInterface.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/AKAZE.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/AgastFeatureDetector.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/BFMatcher.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/BOWImgDescriptorExtractor.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/BOWKMeansTrainer.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/BOWTrainer.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/BRISK.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/DescriptorExtractor.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/DescriptorMatcher.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/FastFeatureDetector.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/Feature2D.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/FeatureDetector.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/Features2d.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/FlannBasedMatcher.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/GFTTDetector.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/KAZE.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/MSER.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/ORB.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/features2d/Params.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/imgcodecs/Imgcodecs.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/imgproc/CLAHE.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/imgproc/Imgproc.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/imgproc/LineSegmentDetector.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/imgproc/Moments.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/imgproc/Subdiv2D.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/ml/ANN_MLP.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/ml/ANN_MLP_ANNEAL.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/ml/Boost.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/ml/DTrees.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/ml/EM.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/ml/KNearest.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/ml/LogisticRegression.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/ml/Ml.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/ml/NormalBayesClassifier.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/ml/ParamGrid.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/ml/RTrees.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/ml/SVM.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/ml/SVMSGD.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/ml/StatModel.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/ml/TrainData.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/objdetect/BaseCascadeClassifier.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/objdetect/CascadeClassifier.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/objdetect/HOGDescriptor.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/objdetect/Objdetect.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/osgi/OpenCVInterface.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/osgi/OpenCVNativeLoader.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/photo/AlignExposures.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/photo/AlignMTB.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/photo/CalibrateCRF.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/photo/CalibrateDebevec.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/photo/CalibrateRobertson.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/photo/MergeDebevec.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/photo/MergeExposures.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/photo/MergeMertens.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/photo/MergeRobertson.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/photo/Photo.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/photo/Tonemap.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/photo/TonemapDrago.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/photo/TonemapDurand.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/photo/TonemapMantiuk.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/photo/TonemapReinhard.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/utils/Converters.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/video/BackgroundSubtractor.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/video/BackgroundSubtractorKNN.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/video/BackgroundSubtractorMOG2.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/video/DenseOpticalFlow.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/video/DualTVL1OpticalFlow.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/video/FarnebackOpticalFlow.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/video/KalmanFilter.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/video/SparseOpticalFlow.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/video/SparsePyrLKOpticalFlow.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/video/Video.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/videoio/VideoCapture.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/videoio/VideoWriter.class
/openCVLibrary/build/intermediates/classes/debug/org/opencv/videoio/Videoio.class
/openCVLibrary/build/intermediates/incremental/compileDebugAidl/dependency.store
/openCVLibrary/build/intermediates/incremental/compileDebugAndroidTestAidl/dependency.store
/openCVLibrary/build/intermediates/incremental/debug-mergeJniLibs/merge-state
/openCVLibrary/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
/openCVLibrary/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/values/values.xml
/openCVLibrary/build/intermediates/incremental/mergeDebugAndroidTestResources/merger.xml
/openCVLibrary/build/intermediates/incremental/mergeDebugAssets/merger.xml
/openCVLibrary/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/openCVLibrary/build/intermediates/incremental/mergeDebugShaders/merger.xml
/openCVLibrary/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
/openCVLibrary/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
/openCVLibrary/build/intermediates/incremental/packageDebugResources/merger.xml
/openCVLibrary/build/intermediates/intermediate-jars/debug/classes.jar
/openCVLibrary/build/intermediates/intermediate-jars/debug/res.jar
/openCVLibrary/build/intermediates/javaPrecompile/debug/annotationProcessors.json
/openCVLibrary/build/intermediates/manifest/androidTest/debug/AndroidManifest.xml
/openCVLibrary/build/intermediates/manifest/androidTest/debug/output.json
/openCVLibrary/build/intermediates/manifests/aapt/debug/AndroidManifest.xml
/openCVLibrary/build/intermediates/manifests/aapt/debug/output.json
/openCVLibrary/build/intermediates/manifests/full/debug/AndroidManifest.xml
/openCVLibrary/build/intermediates/manifests/full/debug/output.json
/openCVLibrary/build/intermediates/res/androidTest/debug/output.json
/openCVLibrary/build/intermediates/res/androidTest/debug/resources-debugAndroidTest.ap_
/openCVLibrary/build/intermediates/res/debug/output.json
/openCVLibrary/build/intermediates/res/merged/androidTest/debug/values_values.arsc.flat
/openCVLibrary/build/intermediates/res/symbol-table-with-package/androidTest/debug/package-aware-r.txt
/openCVLibrary/build/intermediates/res/symbol-table-with-package/debug/package-aware-r.txt
/openCVLibrary/build/intermediates/symbols/androidTest/debug/R.txt
/openCVLibrary/build/intermediates/transforms/mergeJniLibs/debug/__content__.json
/openCVLibrary/build/intermediates/transforms/stripDebugSymbol/debug/__content__.json
/openCVLibrary/build/outputs/logs/manifest-merger-debug-report.txt
/openCVLibrary/lint.xml
/openCVLibrary/src/main/AndroidManifest.xml
/openCVLibrary/src/main/aidl/org/opencv/engine/OpenCVEngineInterface.aidl
/openCVLibrary/src/main/java/org/opencv/android/AsyncServiceHelper.java
/openCVLibrary/src/main/java/org/opencv/android/BaseLoaderCallback.java
/openCVLibrary/src/main/java/org/opencv/android/Camera2Renderer.java
/openCVLibrary/src/main/java/org/opencv/android/CameraBridgeViewBase.java
/openCVLibrary/src/main/java/org/opencv/android/CameraGLRendererBase.java
/openCVLibrary/src/main/java/org/opencv/android/CameraGLSurfaceView.java
/openCVLibrary/src/main/java/org/opencv/android/CameraRenderer.java
/openCVLibrary/src/main/java/org/opencv/android/FpsMeter.java
/openCVLibrary/src/main/java/org/opencv/android/InstallCallbackInterface.java
/openCVLibrary/src/main/java/org/opencv/android/JavaCameraView.java
/openCVLibrary/src/main/java/org/opencv/android/LoaderCallbackInterface.java
/openCVLibrary/src/main/java/org/opencv/android/OpenCVLoader.java
/openCVLibrary/src/main/java/org/opencv/android/StaticHelper.java
/openCVLibrary/src/main/java/org/opencv/android/Utils.java
/openCVLibrary/src/main/java/org/opencv/calib3d/Calib3d.java
/openCVLibrary/src/main/java/org/opencv/calib3d/StereoBM.java
/openCVLibrary/src/main/java/org/opencv/calib3d/StereoMatcher.java
/openCVLibrary/src/main/java/org/opencv/calib3d/StereoSGBM.java
/openCVLibrary/src/main/java/org/opencv/core/Algorithm.java
/openCVLibrary/src/main/java/org/opencv/core/Core.java
/openCVLibrary/src/main/java/org/opencv/core/CvException.java
/openCVLibrary/src/main/java/org/opencv/core/CvType.java
/openCVLibrary/src/main/java/org/opencv/core/DMatch.java
/openCVLibrary/src/main/java/org/opencv/core/KeyPoint.java
/openCVLibrary/src/main/java/org/opencv/core/Mat.java
/openCVLibrary/src/main/java/org/opencv/core/MatOfByte.java
/openCVLibrary/src/main/java/org/opencv/core/MatOfDMatch.java
/openCVLibrary/src/main/java/org/opencv/core/MatOfDouble.java
/openCVLibrary/src/main/java/org/opencv/core/MatOfFloat.java
/openCVLibrary/src/main/java/org/opencv/core/MatOfFloat4.java
/openCVLibrary/src/main/java/org/opencv/core/MatOfFloat6.java
/openCVLibrary/src/main/java/org/opencv/core/MatOfInt.java
/openCVLibrary/src/main/java/org/opencv/core/MatOfInt4.java
/openCVLibrary/src/main/java/org/opencv/core/MatOfKeyPoint.java
/openCVLibrary/src/main/java/org/opencv/core/MatOfPoint.java
/openCVLibrary/src/main/java/org/opencv/core/MatOfPoint2f.java
/openCVLibrary/src/main/java/org/opencv/core/MatOfPoint3.java
/openCVLibrary/src/main/java/org/opencv/core/MatOfPoint3f.java
/openCVLibrary/src/main/java/org/opencv/core/MatOfRect.java
/openCVLibrary/src/main/java/org/opencv/core/MatOfRect2d.java
/openCVLibrary/src/main/java/org/opencv/core/Point.java
/openCVLibrary/src/main/java/org/opencv/core/Point3.java
/openCVLibrary/src/main/java/org/opencv/core/Range.java
/openCVLibrary/src/main/java/org/opencv/core/Rect.java
/openCVLibrary/src/main/java/org/opencv/core/Rect2d.java
/openCVLibrary/src/main/java/org/opencv/core/RotatedRect.java
/openCVLibrary/src/main/java/org/opencv/core/Scalar.java
/openCVLibrary/src/main/java/org/opencv/core/Size.java
/openCVLibrary/src/main/java/org/opencv/core/TermCriteria.java
/openCVLibrary/src/main/java/org/opencv/core/TickMeter.java
/openCVLibrary/src/main/java/org/opencv/dnn/DictValue.java
/openCVLibrary/src/main/java/org/opencv/dnn/Dnn.java
/openCVLibrary/src/main/java/org/opencv/dnn/Layer.java
/openCVLibrary/src/main/java/org/opencv/dnn/Net.java
/openCVLibrary/src/main/java/org/opencv/features2d/AKAZE.java
/openCVLibrary/src/main/java/org/opencv/features2d/AgastFeatureDetector.java
/openCVLibrary/src/main/java/org/opencv/features2d/BFMatcher.java
/openCVLibrary/src/main/java/org/opencv/features2d/BOWImgDescriptorExtractor.java
/openCVLibrary/src/main/java/org/opencv/features2d/BOWKMeansTrainer.java
/openCVLibrary/src/main/java/org/opencv/features2d/BOWTrainer.java
/openCVLibrary/src/main/java/org/opencv/features2d/BRISK.java
/openCVLibrary/src/main/java/org/opencv/features2d/DescriptorExtractor.java
/openCVLibrary/src/main/java/org/opencv/features2d/DescriptorMatcher.java
/openCVLibrary/src/main/java/org/opencv/features2d/FastFeatureDetector.java
/openCVLibrary/src/main/java/org/opencv/features2d/Feature2D.java
/openCVLibrary/src/main/java/org/opencv/features2d/FeatureDetector.java
/openCVLibrary/src/main/java/org/opencv/features2d/Features2d.java
/openCVLibrary/src/main/java/org/opencv/features2d/FlannBasedMatcher.java
/openCVLibrary/src/main/java/org/opencv/features2d/GFTTDetector.java
/openCVLibrary/src/main/java/org/opencv/features2d/KAZE.java
/openCVLibrary/src/main/java/org/opencv/features2d/MSER.java
/openCVLibrary/src/main/java/org/opencv/features2d/ORB.java
/openCVLibrary/src/main/java/org/opencv/features2d/Params.java
/openCVLibrary/src/main/java/org/opencv/imgcodecs/Imgcodecs.java
/openCVLibrary/src/main/java/org/opencv/imgproc/CLAHE.java
/openCVLibrary/src/main/java/org/opencv/imgproc/Imgproc.java
/openCVLibrary/src/main/java/org/opencv/imgproc/LineSegmentDetector.java
/openCVLibrary/src/main/java/org/opencv/imgproc/Moments.java
/openCVLibrary/src/main/java/org/opencv/imgproc/Subdiv2D.java
/openCVLibrary/src/main/java/org/opencv/ml/ANN_MLP.java
/openCVLibrary/src/main/java/org/opencv/ml/ANN_MLP_ANNEAL.java
/openCVLibrary/src/main/java/org/opencv/ml/Boost.java
/openCVLibrary/src/main/java/org/opencv/ml/DTrees.java
/openCVLibrary/src/main/java/org/opencv/ml/EM.java
/openCVLibrary/src/main/java/org/opencv/ml/KNearest.java
/openCVLibrary/src/main/java/org/opencv/ml/LogisticRegression.java
/openCVLibrary/src/main/java/org/opencv/ml/Ml.java
/openCVLibrary/src/main/java/org/opencv/ml/NormalBayesClassifier.java
/openCVLibrary/src/main/java/org/opencv/ml/ParamGrid.java
/openCVLibrary/src/main/java/org/opencv/ml/RTrees.java
/openCVLibrary/src/main/java/org/opencv/ml/SVM.java
/openCVLibrary/src/main/java/org/opencv/ml/SVMSGD.java
/openCVLibrary/src/main/java/org/opencv/ml/StatModel.java
/openCVLibrary/src/main/java/org/opencv/ml/TrainData.java
/openCVLibrary/src/main/java/org/opencv/objdetect/BaseCascadeClassifier.java
/openCVLibrary/src/main/java/org/opencv/objdetect/CascadeClassifier.java
/openCVLibrary/src/main/java/org/opencv/objdetect/HOGDescriptor.java
/openCVLibrary/src/main/java/org/opencv/objdetect/Objdetect.java
/openCVLibrary/src/main/java/org/opencv/osgi/OpenCVInterface.java
/openCVLibrary/src/main/java/org/opencv/osgi/OpenCVNativeLoader.java
/openCVLibrary/src/main/java/org/opencv/photo/AlignExposures.java
/openCVLibrary/src/main/java/org/opencv/photo/AlignMTB.java
/openCVLibrary/src/main/java/org/opencv/photo/CalibrateCRF.java
/openCVLibrary/src/main/java/org/opencv/photo/CalibrateDebevec.java
/openCVLibrary/src/main/java/org/opencv/photo/CalibrateRobertson.java
/openCVLibrary/src/main/java/org/opencv/photo/MergeDebevec.java
/openCVLibrary/src/main/java/org/opencv/photo/MergeExposures.java
/openCVLibrary/src/main/java/org/opencv/photo/MergeMertens.java
/openCVLibrary/src/main/java/org/opencv/photo/MergeRobertson.java
/openCVLibrary/src/main/java/org/opencv/photo/Photo.java
/openCVLibrary/src/main/java/org/opencv/photo/Tonemap.java
/openCVLibrary/src/main/java/org/opencv/photo/TonemapDrago.java
/openCVLibrary/src/main/java/org/opencv/photo/TonemapDurand.java
/openCVLibrary/src/main/java/org/opencv/photo/TonemapMantiuk.java
/openCVLibrary/src/main/java/org/opencv/photo/TonemapReinhard.java
/openCVLibrary/src/main/java/org/opencv/utils/Converters.java
/openCVLibrary/src/main/java/org/opencv/video/BackgroundSubtractor.java
/openCVLibrary/src/main/java/org/opencv/video/BackgroundSubtractorKNN.java
/openCVLibrary/src/main/java/org/opencv/video/BackgroundSubtractorMOG2.java
/openCVLibrary/src/main/java/org/opencv/video/DenseOpticalFlow.java
/openCVLibrary/src/main/java/org/opencv/video/DualTVL1OpticalFlow.java
/openCVLibrary/src/main/java/org/opencv/video/FarnebackOpticalFlow.java
/openCVLibrary/src/main/java/org/opencv/video/KalmanFilter.java
/openCVLibrary/src/main/java/org/opencv/video/SparseOpticalFlow.java
/openCVLibrary/src/main/java/org/opencv/video/SparsePyrLKOpticalFlow.java
/openCVLibrary/src/main/java/org/opencv/video/Video.java
/openCVLibrary/src/main/java/org/opencv/videoio/VideoCapture.java
/openCVLibrary/src/main/java/org/opencv/videoio/VideoWriter.java
/openCVLibrary/src/main/java/org/opencv/videoio/Videoio.java
/openCVLibrary/src/main/res/values/attrs.xml
/app/release
