# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.o.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.apk

# Android
*.iml
*.gradle
/gradle.properties
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
Android.mk
/.idea/*
app/build
openCVLibrary310
import-summary.txt
camera_view.xml
/api_info.txt
app/.externalNativeBuild/*


# msvc
build2015*
CMakeUser.cmake
testimg.jpg
/testimg-syn.jpg
/testimg-syn-g.jpg
/testimg-syn-g-r.jpg
/testimg-orig.jpg
/testimg-g.jpg
/test.png
/result.tif
bin/
img/
api_info.txt
/app/.externalNativeBuild
/app/src/main/java/at/ac/tuwien/caa/docscan/camera/MediaSaver.java
/app/src/main/java/at/ac/tuwien/caa/docscan/camera/Storage.java
/projectFilesBackup/.idea/workspace.xml
/app/src/main/java/at/ac/tuwien/caa/docscan/camera/Util.java
/app/src/main/res/drawable/ic_photo_album_black_24dp.xml
/app/src/main/res/layout/test_activity.xml
/app/src/main/res/drawable/cat.png
/app/src/main/res/drawable/puppy.png
/openCVLibrary/*
/app/release
/app/CMakeLists.txt
/app/src/main/jniLibs
/app/src/main/include
