# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.o.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Android
*.iml
*.gradle
/gradle.properties
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
Android.mk
/.idea/*
/gradle/wrapper*
gradlew
gradlew.bat
app/build
openCVLibrary310
import-summary.txt

# msvc
build2015*
CMakeUser.cmake
testimg.jpg
/testimg-syn.jpg
/testimg-syn-g.jpg
/testimg-syn-g-r.jpg
/testimg-orig.jpg
/testimg-g.jpg
/test.png
/result.tif
/img
*.jpg