<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="at.ac.tuwien.caa.docscan">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <!-- TODO: Check if both preserveLegacyExternalStorage/requestLegacyExternalStorage are necessary -->
    <application
        android:name=".DocScanApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_adaptive"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Download the ML kit model for OCR, after the app is installed from the play store -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <!-- We need a file provider to enable a sharing of the log file (which is saved in internal memory) -->
        <!-- TODO: Needs to be adapted, currently sharing pictures is not possible -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.start.StartActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.intro.IntroActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme" />

        <activity
            android:name=".ui.info.AboutActivity"
            android:exported="true" />

        <activity
            android:name=".ui.docviewer.documents.selector.SelectPdfDocumentActivity"
            android:exported="true" />

        <activity
            android:name=".ui.gallery.PageSlideActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.segmentation.SegmentationActivity"
            android:exported="true" />

        <activity
            android:name=".ui.account.TranskribusLoginActivity"
            android:exported="false" />

        <!-- The orientation is set to portrait, since the CameraActivity would crash at on rotation, see ActionSheet.kt -->
        <activity
            android:name=".ui.camera.CameraActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.crop.CropViewActivity"
            android:exported="true" />

        <activity
            android:name=".ui.document.CreateDocumentActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />

        <activity
            android:name=".ui.document.EditDocumentActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".ui.settings.PreferenceActivity"
            android:exported="false" />

        <activity
            android:name=".ui.settings.DebugPreferenceActivity"
            android:exported="false" />

        <activity
            android:name=".ui.settings.ExifPreferenceActivity"
            android:exported="false" />

        <activity
            android:name=".ui.info.LogActivity"
            android:exported="false" />

        <activity
            android:name=".ui.account.logout.LogoutActivity"
            android:exported="false" />

        <!--Debugging activities: -->

        <activity
            android:name=".ui.license.LicenseActivity"
            android:exported="false" />

        <activity
            android:name=".ui.docviewer.DocumentViewerActivity"
            android:exported="true" />

        <!--<receiver android:name=".sync.BootReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <uses-library
            android:name="android.test.runner"
            android:required="false" />

    </application>
</manifest>