<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="at.ac.tuwien.caa.docscan">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <!-- TODO: Check if both preserveLegacyExternalStorage/requestLegacyExternalStorage are necessary -->
    <application
        android:name=".DocScanApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Download the ML kit model for OCR, after the app is installed from the play store -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <!-- We need a file provider to enable a sharing of the log file (which is saved in internal memory) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".receiver.NotificationsActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="DOC_SCAN_NOTIFICATION_ACTION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.start.StartActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.intro.IntroActivity"
            android:launchMode="singleTop" />

        <activity android:name=".ui.info.AboutActivity" />
        <activity android:name=".ui.docviewer.documents.selector.SelectPdfDocumentActivity" />

        <activity
            android:name=".ui.gallery.PageSlideActivity"
            android:launchMode="singleTop" />

        <activity android:name=".ui.segmentation.SegmentationActivity" />
        <activity android:name=".ui.account.TranskribusLoginActivity" />

        <!-- The orientation is set to portrait, since the CameraActivity would crash at on rotation, see ActionSheet.kt -->
        <activity
            android:name=".ui.camera.CameraActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity android:name=".ui.crop.CropViewActivity" />
        <activity
            android:name=".ui.document.CreateDocumentActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.document.EditDocumentActivity"
            android:configChanges="orientation|screenSize" />

        <activity android:name=".ui.settings.PreferenceActivity" />
        <activity android:name=".ui.settings.DebugPreferenceActivity" />
        <activity android:name=".ui.settings.ExifPreferenceActivity" />
        <activity android:name=".ui.info.LogActivity" />
        <activity android:name=".ui.account.logout.LogoutActivity" />
        <activity android:name=".ui.license.LicenseActivity" />
        <activity android:name=".ui.docviewer.DocumentViewerActivity" />

        <uses-library
            android:name="android.test.runner"
            android:required="false" />

    </application>
</manifest>